* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

/* First section */
.presentation {
  height: 100vh;
  width: 100%;
}

body {
  font-size: 1.4rem;
}

header {
  position: fixed;
  font-size: 1.6rem;
  height: 4.8rem;
  width: 100%;

  padding: 1.6rem 3.2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* background-color: #007232; */
  background: linear-gradient(
    269.22deg,
    #007232 0%,
    rgba(0, 114, 50, 0.51) 100%
  );
  opacity: 0.8;

  color: #fff;

  box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  height: 3.6rem;
  width: 3.6rem;
}

.right-side {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  min-width: 400px;
}

.nav-items a {
  /* Allows a fixed position for the content*/
  position: relative;
  text-decoration: none;
  color: #d0d0d0;
  transition: all 0.4s;
  height: 100%;
  padding: 0 4px;
}

.nav-items a:hover {
  color: #fff;
}

.nav-items a::after {
  /* Use 'position' attribute to avoid the tag 'a' movement on hover*/
  position: absolute;
  content: "";
  height: 2px;
  background: #fbe000;
  width: 0;
  left: 50%;
  bottom: -4px;
  transition: all 0.3s ease-out;
}

.nav-items a:hover::after {
  width: 100%;
  left: 0%;
}

/* Adds the padding before each "a" tag that is not the first */
.nav-items a:not(:first-child) {
  margin-left: 1.6rem;
}

.cart {
  margin-left: 6.4rem;
}

/* First section -- title */
main {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;

  background: #eee;
}

.content-aside {
  /* height: 60%; */
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 3.2rem;
}

.before-title span {
  position: relative;
  font-weight: bold;
  color: #2e7d32;
}

.before-title span::after {
  position: absolute;
  display: inline-block;
  content: "";
  height: 2px;
  width: 100%;
  background: #007232;
  top: 50%;
  /* Sets a space from the right, equivalent to 120% of the element*/
  right: -120%;

  opacity: 0.6;
}

.title-and-content {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  margin-top: 1.6rem;
}

.title h1 {
  font-size: 3.6rem;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.title-content {
  margin-top: 0.8rem;
}

.title-content span {
  color: #6a6a6a;
  line-height: 3rem;
}

b {
  color: #007232;
}

.order-btn {
  padding: 16px 32px !important;
  margin-top: 2.4rem;
  outline: none;
  border-radius: 1.6rem;
  background: transparent;
  color: #007232;
  font-weight: bold;
  border: 1px solid #007232;
  transition: all 0.3s ease-out;
}

.order-btn:hover {
  background: #007232;
  color: #ffffff;
  border-color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

/* First section - right aside */
.images-aside {
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 0 6.4rem; */
}

.main-image {
  position: relative;
}

.main-image img {
  height: 36rem;
  width: 32rem;
}

.reduced-image img {
  height: 12.8rem;
  width: 9.6rem;

  padding: 16px;
}

/* Possible update! */
.reduced-image {
  background: #bdbdbd;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
  /* margin-top: 16px; */
}

.reduced-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*  */
.reduced-image + .reduced-image {
  margin-top: 16px;
}

/* Section 2 */
#company-info {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#company-info main {
  background: #fff;
  height: 95vh;
}

/* Location */

.location,
.weather {
  flex: 1;
  height: 100%;
  padding: 3.2rem;
}

.location {
  color: #333;
  border-right: 1px dashed #bdbdbd;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.company-name {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

.company-description {
  margin: 1.6rem 0;
}

.company-description p {
  font-size: 1.4rem;
  line-height: 3rem;
}

.our-stores span {
  font-size: 1.6rem;
  font-weight: bold;
}

.our-stores ul li {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 1.6rem;
  cursor: pointer;
}

.our-stores ul li:hover {
  color: #000;
}

.our-stores .find-us {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.contacts {
  margin-top: 2.4rem;
}

/* Contacts section */
/* .contacts {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.contacts-explanation span {
  font-size: 1.6rem;
  font-weight: bold;
}

.contacts-options {
  display: flex;
  flex-direction: column;
}

.contacts-options span {
  margin-top: 0.8rem;
}

#company-info main .call-to-action {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#company-info main .call-to-action .cta-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.cta-row {
  height: 40%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-message {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.6rem;
  text-align: center;
  color: #333;
  width: 50%;
}

.second-message {
  width: 75%;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 3.2rem;
  text-align: center;
  color: #333;
}

.btn-container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-margin {
  margin: 0 !important;
}

#company-info main .call-to-action .social-networks {
  flex: 1;
  /* padding: 16px; */
}

.social-networks .social-network-message span {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 1.6rem; */
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
}

.social-networks i {
  font-size: 3.6rem;
  margin-left: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.social-networks i:hover {
  transform: scale(1.1);
}

.social-networks .icons-social-network:not(:first-child) {
  margin: 0;
}

.icon img{
  width: 25px;
  height: 25px;

}

.fa-brands{
  color: #000;
}

.icon .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.icon{
  display: flex;
  align-items: center;

}

.company-name{
  margin-left: 4px;
}

.company-name p{
  font-size: 20px;
}


.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px dashed #bdbdbd;
}

.weather .city-weather {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3.2rem;
  color: #333;
  text-align: center;
}

.weather-card {
  height: 24rem;
  width: 24rem;
  padding: 16px;
  border-radius: 1rem;
  background: #2e7d32;
  /* opacity: 0.6; */
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.today-date {
  /* height: 25%; */
  font-size: 1.4rem;
  font-weight: bold;
  color: #f3f3f3;
  text-align: center;
}

.city-card {
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  justify-content: flex-start;
}

.temperature-humidity-row {
  display: flex;
  width: 100%;
  /* height: 100%; */
  justify-content: space-between;
  /* align-items: center; */
}

.city-container,
.humidity {
  padding-top: 16px;
  height: 50%;
}

.temperature,
.percentual {
  font-size: 2.4rem;
  font-weight: 500;
  color: #f3f3f3;
}

.city-name,
.humidity-name {
  font-size: 2rem;
  color: #f3f3f3;
}

.another-cta {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  text-align: center;

  margin-top: 1.6rem;
}

.forecast-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #f3f3f3;
}

footer {
  height: 20%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    269.22deg,
    #007232 0%,
    rgba(0, 114, 50, 0.51) 100%
  );
}

footer span {
  font-size: 1.6rem;
  font-weight: bold;
  color: #f2f2f2;
}

.update{
  display: flex;
  justify-content: center;
  margin: 4px;
}

.footer-info span, .footer-info p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #f2f2f2;
}

.footer-info{
  margin: 10px;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* FRESH PAGE STYLES */


.fresh-page {

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  overflow: auto;
}

.fresh-page-title {
  margin-top: 28rem;
  margin-bottom: 3.2rem;

}

.form-container {
  max-width: 32rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* color: #333; */

  margin-bottom: 3.2rem;
}

.input-container + .input-container {
  margin-top: 16px;
}

.input-container {
  width: 100%;
}

.input-container .input-description {
  font-size: 1.4rem;
  font-weight: 500;
}

.input-container input,
select {
  width: 100%;
  height: 3.2rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05);
  margin-top: 0.8rem;
  padding-left: 1.6rem;
}

.input-container input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

select {
  box-sizing: border-box;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  margin-top: 1.6rem;
}

.finish-order {
  padding: 1.2rem 3.2rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  background: #2e7d32;
  color: #fff;

  opacity: 0.8;

  cursor: pointer;
  transition: all 0.3s;
}

.finish-order:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

#additional-info {
  margin-top: 1.6rem;
  width: 100%;
}









 /* ABOUT US PAGE*/


 .main-about-us {
  display: block;
  padding: 80px 20px 20px 20px;
  height: fit-content;
}


.grid-container-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 30px;
}

.about-us-img img{
  width: 100%;
  height: auto;

}

.about-us{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 30px;
}

 .body-aboutus {
  height: 200vh !important;
}

.about-us p{
  margin-top: 80px;
  margin-right: 60px;
  font-size: 15pt;
}

.about-us h1, .h1-aboutus{
  margin-bottom: 32px;
}

.truck-locations, .h1-aboutus{
  align-self: center;
  margin-top: 72px;
}

.img-location, .h1-aboutus, .contact-information, .map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-location{
  margin-bottom: 32px;
 }

.img-location img{
  margin-top: 8px;
}

.footer{
  height: fit-content;
}