* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  padding: 8px 16px 0px 16px;
}

header {
  display: flex;
  flex-direction: column;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;


  margin-bottom: 8px;
}


img {
  height: 64px;
  width: 64px;
}

.logo-container {
  display: flex;
  align-items: center;
}

h1,
p {
  margin: 0;
}

.name-slogan {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  height: 100%;
}


.clearfix {
  display: flex;
}

nav>ul {
  list-style-type: none;

  display: flex;

  align-items: center;
}

nav ul li:not(:first-child) {
  padding-left: 32px;
}

/* Update it */
.main-info>button {
  height: 32px;
  width: 32px;

  display: none;

  border: none;
  border-radius: 4px;
  background: #bdbdbd;
  outline: none;

  opacity: 0.8;
}


.main-info>button:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.4s all;
}

.clearfix>ul {
  padding-left: 8px;
}

.icons {
  display: flex;
}

.icon {
  height: 32px;
  width: 32px;
}

.date {
  padding: 8px;
  display: flex;
  justify-content: center;
  background-color: #eee;
}



.hide {
  position: absolute;
  right: 16px;
  top: 60px;
}




@media(max-width: 600px) {
  .main-info>button {
    display: block;
  }

  nav,
  .clearfix {
    display: none;
  }

  .main-info .logo-container .name-slogan p {
    display: none;
  }

  .hide {
    display: block;
  }

  .hide>ul {
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #eee;


    padding: 16px 64px;
  }

  .hide>ul>li {
    padding: 16px 0px 0px 0px !important;
  }

  .hide>ul>li>a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }

}


@media(min-width: 600px) and (max-width: 1007px) {

  nav,
  .clearfix {
    display: none;
  }

  .main-info>button {
    display: block;
  }

  .hide {
    display: block;
  }

  .hide>ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #eee;


    padding: 16px 64px;
  }

  .hide>ul>li {
    padding: 16px 0px 0px 0px !important;
  }

  .hide>ul>li>a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }


}