@media only screen and (min-width: 37.5em){
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .header, .title, .column3, .footer{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
