@media only screen and (min-width: 37.5em){
    .grid {
        grid-template-columns: 1fr 1fr;
        margin: 4em;
    }

    .header, .title, .footer{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .designs{
        margin: 0.5em;
    }

}
