/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}  
  

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header {
    overflow: hidden;    
    text-align:left;
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    align-items: center;
  }

.name-slogan p {
    font-weight: bold;
    color: #DF995E;
}


.name-slogan {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    height: 100%;
  }

header img {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
}

footer img {
    width: 90px;
    height: 90px;
    display: block;
}

.date {
    display: flex;
    background-color: #DF995E;
    justify-content: center;
    margin: 15px;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    background-color: #6D7993;
    font-family: Verdana, sans-serif;
}

nav>ul {
    list-style-type: none;
    list-style-type: none;
  
    display: flex;
  
    align-items: center;

    padding: 0;
    margin: 0;

}


nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(250, 250, 250, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.3)
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul.hide {
    display: none;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: #D5D5D5;

}

footer {
    background-color: #D5D5D5;
    color:#000000
}

.logo-footer{
    display: flex;
    justify-content: center;}

.name-slogan h1{
    font-size: 1.7rem;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px auto auto auto auto;
    grid-gap: 10px;
    margin: 10px 0px;
}

.herodiv {
    background-image: url(/chamber/images/marau.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    background-color: #D5D5D5;
    width: auto;
}

.herodiv button{
    height: 50px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px black;
    background-color: #DF995E;
    font-size: 20px;   
}

.herodiv div{
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;;
}

 .herodiv h1{
    color: #fff;
    display: flex;
    justify-content: flex-start;
    
}

.eventdiv {
    padding: 15px;
    background-color: #D5D5D5;
    width: auto;
    text-align: left;
}

    h1{
    display: flex;
    justify-content: center;
}

.weatherdiv {
    padding: 15px;
    background-color: #D5D5D5;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

.weatherdiv p:first-of-type {
    display: inline-block;
    vertical-align: top;
    font-size: 55px;  
}

.weatherdiv h2 {
    display: flex;
    justify-content: flex-end;
}

.wind-label{
    display: inline-block;
}


.eventdiv h3{
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.eventdiv p{
    padding-bottom: 5px;
}

.newsdiv {
    padding: 15px;
    background-color: #D5D5D5;
    width: auto;
    text-align: left;
}

.newsdiv p{
    padding: 10px;
    text-align: center;
}

.spotdiv {
    padding: 15px;
    background-color: #D5D5D5;
    width: auto;
    height: auto;
    text-align: left;
}

section {
    padding: 15px;
    background-color: #D5D5D5;
    width: auto;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #6D7993;
    text-align: center;    
}


.spotsection3{
    display: none;
}

section h3{
    padding-bottom: 10px;
}

.joindiv {
    display: none;
}

h1,
h2,
p {
    margin: 0;
}



main {
    height: 100%;
    width: 100%;
    padding: 8px 16px 0px 16px;
    margin: 0 auto;
  }

  .main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 0px 15px;
  }



img {
    height: 64px;
    width: 64px;
  }

.img-progress picture img {
    width:300px; 
    height:400px;
}