/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 150px auto 150px 150px 10px;
        grid-gap: 10px;
    }

    .herodiv {
        grid-column: 1 / 4;
        grid-row: 1/2;
        }

    .newsdiv {
        grid-column: 1 / 4;
        grid-row: 2/3;
        }
    
    .spotdiv {
        grid-column: 1/4;
        grid-row: 3/4;
        margin-bottom: 0px !important;
        }

  
    section{
        display: inline-block;
    }

    section{
        width: 49.5%;
    }
    

    .joindiv {
        display: block;
        grid-column: 1 / 4;
        grid-row: 4/5;
        /* margin-top: 0px !important; */
        }

    .eventdiv {
        grid-column: 1 / 3;
        grid-row: 5/6;
        margin-right: 0px;
    }
    
    .weatherdiv {
        grid-column: 3 / 4;
        grid-row: 5/6;
        margin-left: 0px;
    }
    
    
    
}
 /*end medium */
